.repo-details {
  display: flex;
  margin: 20px;
}
.repo-details-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.repo-details-card {
  background-color: #413f3f;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  min-width: 250px;
  max-width: 250px;
  min-height: 220px;
  max-height: 220px;
  display: flex;
  flex-direction: column;
}

.repo-details-card-item {
  margin: 10px;
}
.repo-details-card-item-img {
  width: 32px;
  height: 32px;
  margin: 10px;
}
